<% layout("/layouts/boilerplate") %>
<body>
  <div class="alert alert-danger mt-3 offset-3 col-6" role="alert">
    <h4 class="alert-heading"><%= status %></h4>
    <p><%= message %></p>
  </div>
</body>